/venv/
/.idea/
/lesson_4/class/
/lesson_4/class/my_modules/
/lesson_4/class/main.py
/lesson_4/class/my_module.py
/lesson_4/class/script_21_02.py
/lesson_4/class/script_28_02.py
/lesson_5/class/
/lesson_6/class/main.py
